@{
    ViewData["Title"] = "Admin Paneli";
}

<h2>Admin Paneli</h2>

<ul>
    <li>📚 <a href="@Url.Action("Index", "Kitap")">Kitapları Yönet</a></li>
    <li>📖 <a href="@Url.Action("OduncList", "Admin")">Ödünç Alınan Kitaplar</a></li>
    <li>👥 <a href="@Url.Action("UserList", "Admin")">Kullanıcıları Yönet</a></li>
</ul>

